<h1 mat-dialog-title>Add Health Provider</h1>
<div mat-card-content>
  <form [formGroup]="healthProviderForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="healthProviderName" matInput placeholder="Health Provider Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Clinic Name</mat-label>
      <input formControlName="clinicName" matInput placeholder="Clinic Name">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="accent" (click)="addHealthProvider()">{{actionBtn}}</button>
</div>
